# Auto detect text files and perform LF normalization
* text=auto

# Dart
*.dart text

# Flutter/Dart specific
*.yaml text
*.yml text
pubspec.lock text

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.mov binary
*.mp4 binary
*.mp3 binary
*.flv binary
*.fla binary
*.swf binary
*.gz binary
*.zip binary
*.7z binary
*.ttf binary
*.otf binary